// colors
$blue-900: #0b0d17;
$blue-300: #d0d6f9;
$white: #fff;
$line: #979797;
$gradient: linear-gradient(#ffffff00, rgba(11, 14, 23, 1));

// fonts
$bellefair: 'Bellefair', serif;
$barlow: 'Barlow', sans-serif;
$barlow-cond: 'Barlow Condensed', sans-serif;

$h1: 9rem; // 144px
$h2: 6.25rem; // 100px
$h3: 3.5rem; // 56px
$h4: 2rem; //32px
$text-xl: 1.75rem; // 28px
$text-l: 1.125rem; // 18px
$text-m: 1rem; // 16px
$text-s: 0.875rem; // 14px

// spacing
$spacing-128: 8rem;
$spacing-96: 6rem;
$spacing-80: 5rem;
$spacing-64: 4rem;
$spacing-48: 3rem;
$spacing-40: 2.5rem;
$spacing-32: 2rem;
$spacing-24: 1.5rem;
$spacing-16: 1rem;
$spacing-12: 0.75rem;
$spacing-8: 0.5rem;
$spacing-4: 0.25rem;
$spacing-2: 0.125rem;
